<%- include('layouts/header') -%>

<h1><%= title %></h1>
<p><%= body %></p>

<%- include('layouts/footer') -%>


<!-- <% // if(compose_array != ''){ %>
  <% //- // include('layouts/footer2') -%>  
<% // }else { %> -->
<!-- <% // } %> -->